body {
	overflow-x: hidden;
	top: 0;
	margin: 0;
	padding: 0
}

._container {
    margin-bottom: 20px;
}

.close {
     height: 25px;
     width: 25px;
     border-radius: 10px;
     border: 2px solid black;
     background-color: black;
     display: flex;
     justify-content: center;
     align-content: center;
 }

form {
    padding: 15px;
}
 
.lightbox_outer {
    display: none;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparent;
    align-content: flex-start;
    justify-content: center;
   
}

.lightbox_inner {
    margin-top: 5%;
    height: 450px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.75);
}

.something {
	background-color: #963019;
	height: 10px;
	top: 0;
}


.sort {
    float: right;
}



